.page-header {
  padding: 60px 0;
  background-color: $mainColor;

 .ph-hero {
  @include flexbox(center, center, column);
   h1 {
    color: $whiteColor;
  }
  .breadcrumb {
    @include flexbox(flex-start);
    gap: 30px;

    li {
      position: relative;
      color: $whiteColor;
      &:first-child::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: calc(100% + 10px);
        width: 10px;
        height: 2px;
        background-color: $whiteColor;
      }
      a {
        color: $whiteColor;
      }
    }
  }
 }
}

.page-content {
  margin-top: 60px;
  margin-bottom: 60px;
  .inner-content {
    display: flex;
    gap: 20px;
    .right-section {
      width: 70%;
      border-radius: 6px;
      background-color: $whiteColor;
      padding: 15px;

      .main-image {
        width: 100%;
        height: 500px;
        border-radius: 6px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      h2 {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 28px;
        color: $mainColor;
      }
      .description {
        p {
          margin-top: 15px;
          margin-bottom: 15px;
          font-size: 18px;
        }
        ul {
          list-style: disc;
          li {
            margin-right: 20px;
          }
        }
      }
      section {
        padding-top: 0;
        padding-bottom: 0;
      }
      .props {
        display: flex;
        background-color: #f0f0f0;
        padding: 20px;
        border-radius: 6px;
        div:first-child {
          border-left: 1px solid #ccc;
        }
        div {
          width: 50%;
          padding-right: 20px;
          ul {
            li {
              margin-bottom: 20px;
              position: relative;
              &::after {
                content: ':';
                position: absolute;
                right: 50%;
                font-size: 20px;
              }
              span {
                position: absolute;
                left: 15%;
              }
            }
          }
        }
      }
      .features {
        background-color: #f0f0f0;
        padding: 20px;
        border-radius: 6px;
        display: flex;
        gap: 20px;

        .box {
          width: 33%;
          background-color: $whiteColor;
          padding: 15px;
          border-radius: 6px;
          box-shadow: 3px 3px 3px #ccc;
          display: flex;
          flex-direction: column;
          align-items: center;

          i {
            font-size: 25px;
            background-color: $mainColor;
            color: $whiteColor;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            @include flexbox();
          }
          h4 {
            margin-top: 10px;
            color: $secondaryColor;
          }
          p {
            color: #858484;
          }
        }
      }
      .swiper-slide {
        width: 100%;
        height: 500px;
        border-radius: 6px;
        overflow: hidden;
        @include flexbox();
        img {
          width: 60%;
          object-fit: cover;
        }
      }
      .arrow {
        color: $mainColor;
      }
      .amenities {
        background-color: #f0f0f0;
        padding: 20px;
        border-radius: 6px;
        display: flex;
        gap: 15px;
        margin-top: 20px;
        .box {
          width: 33%;
          ul {
            li {
              margin-bottom: 15px;
              position: relative;
              margin-right: 25px;
              border-bottom: 1px dotted #c2c1c1;
              width: fit-content;

              &::before {
                content: '\f00c';
                font-family: 'Font Awesome 5 Free';
                font-weight: bold;
                position: absolute;
                background-color: $mainColor;
                color: $whiteColor;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                top: 50%;
                transform: translateY(-50%);
                right: -25px;
                @include flexbox();
              }
            }
          }
        }
      }
      .section-gallery {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .section-video {
        .img-video {
          position: relative;
         a {
           i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 40px;
            color: $whiteColor;
          }
         }
        }
      }
      form {
        width: 100%;
        background-color: #f0f0f0;
        padding: 20px;
        border-radius: 6px;

        .inputs-info {
          display: flex;
          gap: 15px;
          div {
            width: 100%;
          input {
            width: 100%;
            background-color: $whiteColor;
            border-radius: 6px;
            border: 1px solid #d4d2d2;
            height: 35px;
            margin-bottom: 15px;
            padding: 10px;
            caret-color: $mainColor;
            &:focus {
              outline: 1px solid #e3e2e2;
            }
        }
          }
        }
        textarea {
          width: 100%;
          background-color: $whiteColor;
          border-radius: 6px;
          border: 1px solid #d4d2d2;
          height: 150px;
          padding: 10px;
          caret-color: $mainColor;
          &:focus {
              outline: 1px solid #e3e2e2;
            }
        }
      }
    }
    .left-section {
      // width: 30%;
    }
  }
}